* {
    margin: 0;
    padding: 0;
}

body{
    /* font-family: "Helvetica Neue", "Hiragino Sans GB", "Microsoft YaHei", 黑体, Arial, sans-serif; */
    font-family: "Helvetica Neue","Hiragino Sans GB","Microsoft YaHei","\9ED1\4F53",Arial,sans-serif;
    /* display: inline; */
}

.page{
    width: 100%;
}

table{
    margin-top: 1em;
    margin-bottom: 3em;
    
    width: 100%;
}

table thead{
    text-align: start;
}

table thead tr{
    height: 36px;
    padding: 8px;
    font-size: 14px;
    font-weight: normal;
    background: rgb(246, 247, 248);
    color: #BABABA;
}

table tbody tr{
    border-bottom: 1px solid rgb(231, 231, 235);
    color: #4A4A4A;
    height: 36px;
    padding: 8px;
    text-align: center;
    font-size: 14px;
    font-weight: normal;
}