* {
    margin: 0;
    padding: 0;
}

body{
    font-family: "Helvetica Neue","Hiragino Sans GB","Microsoft YaHei","\9ED1\4F53",Arial,sans-serif;
}

.banner{
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 120px;
    /* background-color:#B4EEB4; */
    background-image: url('resource/back.png');
    text-align: center;
}

.navigater{
    display: block;
    width: 300px;
    position: absolute;
    height: 100%;
    overflow-y: auto;
    left: 0;    
    box-shadow: 1px 0 10px rgba(150,150,150,.3);
    position: absolute;
    background: white;
}

.navigater-home{
    display: block;
    background: white;
    color: #6E6E6E;
    margin: 20px;
}

.navi-title{
    display: inline;
    font-size: 16px;
    font-weight: bold;
    vertical-align: middle;
}

.navigater-oper{
    left: 304px;
    position: absolute;
    width: 30px;
    height: 34px;
    padding: 2px 4px;
}

/* 定义动画 */
@keyframes move_right {
	to {
        transform: translateX(300px);
	}
}

@keyframes move_left {
	to {
		transform: translateX(-300px);
	}
}

/* 绑定动画 */
.move_right {
    animation-name: move_right;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.move_left {
    animation-name: move_left;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.info-section{
    display: block;
    width: 75%;
    height: 100%;
    overflow-y: auto;
    left: 300px;
    position: relative;
    padding: 30px 15px;
}


.navi-choice{
    display: block;
    padding: 15px;
    color: #787878;
    
    border-bottom: 1px solid #e7e7eb;
    font-size: 14px;
}

.navi-choice:hover{
    background: rgb(245, 246, 247);
}

.navi-choice-sec{
    display: block;
    padding: 15px;
    background: rgb(245, 246, 247);
    color: #787878;
    border-bottom: 1px solid #e7e7eb;
    font-size: 13px; 
}


.navi-choice-sec:hover{
    background: rgb(250, 250, 250);
}

.summary{
    display: block;
}

table{
    margin-top: 1em;
    margin-bottom: 3em;
    
    width: 100%;
}

table thead{
    text-align: start;
}

table thead tr{
    height: 36px;
    padding: 8px;
    font-size: 14px;
    font-weight: normal;
    background: rgb(246, 247, 248);
    color: #BABABA;
}

table tbody tr{
    border-bottom: 1px solid rgb(231, 231, 235);
    color: #4A4A4A;
    height: 36px;
    padding: 8px;
    text-align: center;
    font-size: 14px;
    font-weight: normal;
}

.page-content{
    display: none;
    overflow-y: auto;
}

.para{
    height: 300px;
    padding: 30px 10px;
    background: #F7F7F7;
    border-top: 2px solid rgb(231, 231, 235);
    border-bottom: 2px solid rgb(231, 231, 235);
    font-size: 14px;
    color: #6E6E6E;
}

.return_btn{
    width: 100px;
    height: 50px;
    background-color: #4CAF50; /* Green */
    color: white;
    margin-top: 10px; 
    font-size: 16px;
    border-radius: 8px;
}