* {
    margin: 0;
    padding: 0;
}

div.BarProgress {
    margin: 20px;
    height: 20px;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-radius: 10px;
}

div.BarProgress > span{
    line-height: 17px;
    font-size: 10px;
    text-align: right;
    height: 18px;
    margin: 0 -1px;
    position: relative;
    float: left;
    border-radius: 10px;
}

div.GlassHint{
    font-size: 18px;
    text-align: center;
}